<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="largura=device-width, initial-scale=1.0">
    <title>3º Cartório de notas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="cabeca">
    <!--    <a href="/" class="logo">3º Tabelionato de notas</a>-->
        <ul class="navegacao">
            <li><a href="/">Serviços</a>                </li>
            <li><a href="/localizacao">Localização</a>  </li>
            <li><a href="/horarios">Horários</a>        </li>
        </ul>
    <!--    <div class="pesquisa">
            <input type="text" placeholder="Pesquisa">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>-->
    </div>
    <div class="card">
        <div class="circulo"></div>
        <div class="conteudo">
            <h2>Casamento</h2>
            <!--<p>Lista de bairros que atendemos</p>-->
            <a href="/pesquisacep">Bairros que atendemos</a>
           <!-- <p>Documentos necessários para efetuar o casamento</p>-->
            <a href="#">Documentos necessários</a>
            <!--<p>Lista com os casamentos prontos</p>-->
            <a href="/static/casaprontoplaceholder.pdf">Casamentos prontos</a>
        </div>
        <img src="{{ url_for('static', filename='anelcasamento.png') }}">
    </div>
    
</body>
</html>