<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="largura=device-width, initial-scale=1.0">
    <title>3º Cartório de notas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <div class="card">
        <div class="circulo"></div>
        <div class="conteudo">
            <h2>Informações:</h2>
            <p>Lista de bairros que atendemos</p>
            <a href="#">Bairros que atendemos</a>
            <p>Documentos necessários para efetuar o casamento</p>
            <a href="#">Documentos necessários</a>
            <p>Lista com os casamentos prontos</p>
            <a href="#">Casamentos prontos</a>
        </div>
        <img src="{{ url_for('static', filename='anelcasamento.png') }}">
        

</body>
</html>